<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <title>Noble Token - New coin Landing Page</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Font  -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <!-- icofont icon -->
    <link rel="stylesheet" href="assets/fonts/icofont.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- rotate headlines css-->
    <link rel="stylesheet" href="assets/css/cd-headline.css">
    <!-- venobox -->
    <link rel="stylesheet" href="assets/css/venobox.css" />
    <!--- owl carousel Css-->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body id="page-top">

    <!-- START PRELOADER -->
    <div class="preloader">
        <div class="loadscreen">
            <div class="loadscreen-in">
                <!-- <img class="img-fluid" src="assets/img/preloader-logo.png" alt=""> -->
                NOBLETOKEN
            </div>
        </div>
    </div>
    <!-- END PRELOADER -->

    <!-- START NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top  " id="mainNav">
        <div class="container" style='padding:5px'>
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <!-- <img class="img-fluid" src="assets/img/logo.png" alt="">  -->
                NOBLETOKEN
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                MENU
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#how-it-work">Get Strarted</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#road-map">Road Map</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <!-- END NAVBAR -->


    <!-- START SLIDER STATIC -->
    <section id="home" class="home-static-1 rocke rocket section-back-image home-static-2 " data-background="assets/img/bg/home-static-4.jpg">

        <!-- <div class="ray ray-horizontal y-35 x-0 ray-rotate-45 laser-blink hidden-sm hidden-xs"></div>
        <div class="ray ray-vertical y-100 x-50 ray-rotate-135 laser-blink hidden-sm hidden-xs"></div> -->
        <div class="container no-padding">
            <div class="row header-content">
                <!--- END COL -->
                <div class="home-static-middle col-lg-8 col-md-12 col-sm-12 col-12 text-left">

                    <div class="message-slider owl-carousel owl-theme">
                        <div class="message-slider-text">
                            <h1>Noble Gift Token</h1>
                        </div>
                        <div class="message-slider-text">
                            <h1>The Money of The Future</h1>
                        </div>
                    </div>
                    <p>A Crypto Assets for the BELBIRA community</p>

                    <div class="header-desc">
                        Prizes and Assets are kept for the BELBIRA Business community with a potential number of hundreds of millions of members in Indonesia. In the future, it will be used as a transaction tool for community members and outside the community, especially game
                        transactions and product transactions in a NOBLE store marketplace. 0.1% automatic token burning occurs every transaction and 1% through NOBLE Gamer and NOBLE Store transactions.
                    </div>

                    <div class="home-btn-wrapper">
                        <a href="#about" class="js-scroll-trigger btn-home">READ MORE</a>
                        <a href="#registration" class="js-scroll-trigger btn-home">Buy NOBLE</a>
                    </div>
                </div>
                <style>
                    .iii {
                        margin-bottom: 100px;
                        margin: 20px auto;
                        -webkit-animation: spin 4s linear infinite;
                        -moz-animation: spin 4s linear infinite;
                        animation: spin 4s linear infinite;
                    }
                    
                    @-moz-keyframes spin {
                        100% {
                            -moz-transform: rotate(360deg);
                        }
                    }
                    
                    @-webkit-keyframes spin {
                        100% {
                            -webkit-transform: rotate(360deg);
                        }
                    }
                    
                    @keyframes spin {
                        100% {
                            -webkit-transform: rotate(360deg);
                            transform: rotate(360deg);
                        }
                    }
                </style>

                <script>
                    $('.iii').css({
                        '-webkit-animation': ''
                    });
                    $('.iii').css({
                        '-moz-animation': ''
                    });
                    $('.iii').css({
                        'animation': ''
                    });
                </script>
                <!--- END COL -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="animated-calc mt-40">
                        <img src="assets/img/noble.png" class="rocket-img iii" alt="img" width="400px">
                    </div>
                </div>
                <!--- END COL -->
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END SLIDER STATIC -->

    <div class="clearfix"></div>


    <div class="marquee-bar">
        <div class="container-fluid">
            <div class="row">
                <script>
                    baseUrl = "https://widgets.cryptocompare.com/";
                    var scripts = document.getElementsByTagName("script");
                    var embedder = scripts[scripts.length - 1];
                    var cccTheme = {
                        "General": {
                            "enableMarquee": true
                        }
                    };
                    (function() {
                        var appName = encodeURIComponent(window.location.hostname);
                        if (appName == "") {
                            appName = "local";
                        }
                        var s = document.createElement("script");
                        s.type = "text/javascript";
                        s.async = true;
                        var theUrl = baseUrl + 'serve/v3/coin/header?fsyms=BTC,ETH,BNB,LTC,DASH,DOGE,BLOK,SAND,SOL,TOKO&tsyms=USD';
                        s.src = theUrl + (theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
                        embedder.parentNode.appendChild(s);
                    })();
                </script>
            </div>
        </div>
    </div>


    <!-- START ABOUT -->
    <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-10 col-sm-12">
                    <div class="about-image">
                        <img class="img-fluid" src="assets/img/bg/about.jpg" alt="" />
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="section-title mt-10">
                        <h3>About Noble Token</h3>
                        <span></span>
                        <p>Prizes and Assets are kept for the BELBIRA Business community with a potential number of hundreds of millions of members in Indonesia. In the future, it will be used as a transaction tool for community members and outside the community,
                            especially game transactions and product transactions in a NOBLE store marketplace. 0.1% automatic token burning occurs every transaction and 1% through NOBLE Gamer and NOBLE Store transactions.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="single-feature">
                                <div class="single-feature-icon">
                                    <img class="icon" src="assets/img/icons/icon1.png" alt="">
                                </div>
                                <div class="single-feature-text">
                                    <h5>BSC Verified</h5>
                                    <p>Verified at bscscan.com</p>
                                </div>
                            </div>
                            <div class="single-feature">
                                <div class="single-feature-icon">
                                    <img class="icon" src="assets/img/icons/icon2.png" alt="">
                                </div>
                                <div class="single-feature-text">
                                    <h5>Creted for Gift</h5>
                                    <p>Created for gift to community </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="single-feature">
                                <div class="single-feature-icon">
                                    <img class="icon" src="assets/img/icons/icon3.png" alt="">
                                </div>
                                <div class="single-feature-text">
                                    <h5>Affordable Service</h5>
                                    <p>All services in affordable client</p>
                                </div>
                            </div>
                            <div class="single-feature">
                                <div class="single-feature-icon">
                                    <img class="icon" src="assets/img/icons/icon4.png" alt="">
                                </div>
                                <div class="single-feature-text">
                                    <h5>Verified Company</h5>
                                    <p>We are the real company</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END ABOUT -->


    <section class="ico-distribution bird-background" id="sale">
        <div class="container">
            <div class="text-center">
                <div class="section-title">
                    <h3>Noble Tokenomic</h3>
                    <span></span>
                    <p>Most tokenomics are for community rewards.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12 ">
                    <!--<img src="img/chart.png" class="pie"-->
                    <div id="container"></div>
                    <div class="center-values">
                        <span class="phx trix">NOBLE</span><br>
                        <h6 class="margin-btm">27,999 T </h6>
                        <span class="phx">Total Supply</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-xs-12 progress-div">




                    <!-- Blue -->
                    <h6 class="angle-round">Liquidity <span class="number">2,799,999 B NOBLE</span></h6>
                    <div class="progress progress-cls">
                        <div class="progress-bar   " style="width: 10%; background-color: #abcdef;" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10% </div>
                    </div>

                    <!-- Green -->
                    <h6 class="angle-round">Team <span class="number">6,999,999 B NOBLE</span></h6>
                    <div class="progress progress-cls">
                        <div class="progress-bar bg2 " style="width: 30%;" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>

                    <!-- Turquoise -->
                    <h6 class="angle-round">Community reward<span class="number">16,799,999 B NOBLE</span></h6>
                    <div class="progress progress-cls">
                        <div class="progress-bar   " role="progressbar" style="width: 55%;" aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>

                    <!-- Orange -->
                    <h6 class="angle-round">Charity <span class="number">1,399,999 B NOBLE</span></h6>
                    <div class="progress progress-cls">
                        <div class="progress-bar   bg3" style="width: 5%;" aria-valuemin="0" aria-valuemax="100">5% </div>
                    </div>




                </div>
            </div>
        </div>
    </section>


    <section class="how-it-works d-none" id="how-it-work">
        <div class="container">
            <div class="text-center">
                <div class="section-title">
                    <h3>How To Get Started</h3>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="outer">


                    <div class="row clearfix">
                        <!--Left Column-->
                        <div class="left-column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="inner-circle">
                                <a href="#"><img class="phone" src="assets/img/bg/feature-1.png" alt="image"></a>
                            </div>
                        </div>

                        <!--Right Column-->
                        <div class="right-column col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <!--Service Box-->
                            <div class="service-box-four">
                                <div class="inner-box">
                                    <span class="indicator">1</span>
                                    <div class="icon-box"><img src="assets/img/icons/how1.png" alt="icon"></div>
                                    <h3><a href="services-single.html">Register New Account</a></h3>
                                    <div class="text"> Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition aggsh eats. </div>
                                </div>
                            </div>

                            <!--Service Box-->
                            <div class="service-box-four">
                                <div class="inner-box">
                                    <span class="indicator">2</span>
                                    <div class="icon-box"><img src="assets/img/icons/how2.png" alt="icon"></div>
                                    <h3><a href="services-single.html">Create Crypto Wallet</a></h3>
                                    <div class="text"> Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition aggsh eats. </div>
                                </div>
                            </div>

                            <!--Service Box-->
                            <div class="service-box-four">
                                <div class="inner-box">
                                    <span class="indicator">3</span>
                                    <div class="icon-box"><img src="assets/img/icons/how3.png" alt="icon"></div>
                                    <h3><a href="services-single.html">Buy & Sell Bitcoin</a></h3>
                                    <div class="text"> Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition aggsh eats. </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END BOUCHER -->


    <!-- <div class="clearfix"></div> -->


    <section class="our-service mt-5" id="services">
        <div class="container">
            <div class="text-center">
                <div class="section-title">
                    <h3>Our Services</h3>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="single-service tran4s">
                        <img src="assets/img/icons/1.png" alt="icon">
                        <h2>01</h2>
                        <h5><a href="service-details.html" class="tran4s">Bitcoin Transaction</a></h5>
                        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed do eiu smod tempor incididunt ut lab.</p>
                    </div>
                    <!-- /.single-service -->
                </div>
                <!-- /.col- -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-wow-delay="0.1s">
                    <div class="single-service tran4s">
                        <img src="assets/img/icons/2.png" alt="icon">
                        <h2>02</h2>
                        <h5><a href="service-details.html" class="tran4s">Bitcoin Exchange</a></h5>
                        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed do eiu smod tempor incididunt ut lab.</p>
                    </div>
                    <!-- /.single-service -->
                </div>
                <!-- /.col- -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-wow-delay="0.2s">
                    <div class="single-service tran4s">
                        <img src="assets/img/icons/3.png" alt="icon">
                        <h2>03</h2>
                        <h5><a href="service-details.html" class="tran4s">Bitcoin Investment</a></h5>
                        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed do eiu smod tempor incididunt ut lab.</p>
                    </div>
                    <!-- /.single-service -->
                </div>
                <!-- /.col- -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-wow-delay="0.1s">
                    <div class="single-service tran4s">
                        <img src="assets/img/icons/4.png" alt="icon">
                        <h2>04</h2>
                        <h5><a href="service-details.html" class="tran4s">Bitcoin Escrow Service</a></h5>
                        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed do eiu smod tempor incididunt ut lab.</p>
                    </div>
                    <!-- /.single-service -->
                </div>
                <!-- /.col- -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-wow-delay="0.2s">
                    <div class="single-service tran4s">
                        <img src="assets/img/icons/5.png" alt="icon">
                        <h2>05</h2>
                        <h5><a href="service-details.html" class="tran4s">Bitcoin Mining</a></h5>
                        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed do eiu smod tempor incididunt ut lab.</p>
                    </div>
                    <!-- /.single-service -->
                </div>
                <!-- /.col- -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-wow-delay="0.3s">
                    <div class="single-service tran4s">
                        <img src="assets/img/icons/6.png" alt="icon">
                        <h2>06</h2>
                        <h5><a href="service-details.html" class="tran4s">Bitcoin Shopping</a></h5>
                        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed do eiu smod tempor incididunt ut lab.</p>
                    </div>
                    <!-- /.single-service -->
                </div>
                <!-- /.col- -->
            </div>
        </div>
    </section>

    <div class="seo-counter">
        <div class="main-content">
            <img src="assets/img/elements/object1.png" alt="Image">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-box">
                            <h2 class="number"><span class="timer" data-from="0" data-to="84" data-speed="1000" data-refresh-interval="5">84</span></h2>
                            <p>Satisfied Client</p>
                        </div>
                        <!-- /.single-box -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-box">
                            <h2 class="number"><span class="timer" data-from="0" data-to="248" data-speed="1000" data-refresh-interval="5">248</span></h2>
                            <p>Completed projects</p>
                        </div>
                        <!-- /.single-box -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-box">
                            <h2 class="number"><span class="timer" data-from="0" data-to="86" data-speed="1000" data-refresh-interval="5">86</span></h2>
                            <p>Cup of Coffe</p>
                        </div>
                        <!-- /.single-box -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-box border-fix">
                            <h2 class="number"><span class="timer" data-from="0" data-to="12" data-speed="1000" data-refresh-interval="5">12</span>+</h2>
                            <p>Years Expereince</p>
                        </div>
                        <!-- /.single-box -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.main-content -->
    </div>


    <!-- START ROAD MAP -->
    <section class="road-map" id="road-map">
        <div class="container outer clearfix">
            <div class="section-title">
                <h3 class="text-center">Noble Token Road Map</h3>
                <span></span>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
            </div>
            <div class="row">

                <div class="timeline-split">
                    <div class="col-md-10 col-md-offset-1 col-sm-12">
                        <div class="timeline section-box-margin">
                            <div class="block block-left">
                                <h3>Noble Token Development Starts</h3>
                                <span>MARCH 12, 2021 to Novamber 19, 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto adipisci provident officia animi. Impedit dicta, veniam quae in, animi autem illum eos tempore iste a nisi.</p>
                            </div>

                            <div class="block block-right mt-30">
                                <h3>Groundwork Preparation for ICO</h3>
                                <span>DECAMBER 3, 2020 to DECAMBER 23, 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto adipisci provident officia animi. Impedit dicta, veniam quae in, animi autem illum eos tempore iste a nisi.</p>
                            </div>

                            <div class="block block-left mt-30">
                                <h3>Noble Token Blockchain First Release</h3>
                                <span>JANUARY 02, 2021 to MARCH 17, 2021</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto adipisci provident officia animi. Impedit dicta, veniam quae in, animi autem illum eos tempore iste a nisi.</p>
                            </div>

                            <div class="block block-right mt-30">
                                <h3>Noble Token Bank & Cards Phase</h3>
                                <span>APRIL 28, 2021 to MAY 28, 2021</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto adipisci provident officia animi. Impedit dicta, veniam quae in, animi autem illum eos tempore iste a nisi.</p>
                            </div>
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END ROAD MAP -->

    <div class="clearfix"></div>

    <!-- START PROMO VIDEO -->
    <section id="boucher" class="section-padding section-back-image" data-background="assets/img/bg/promo-bg-2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="video-promo">
                        <h3>You can see Our Promo youtube video</h3>
                        <h4>Are You ready to join our Affalite program ?</h4>
                        <div class="video-play">
                            <a href="https://youtu.be/vRbsy4ijvo4" class="venobox vbox-item" data-autoplay="true" data-title="PROMO YOUTUBE VIDEO" data-vbtype="youtube" data-gall="gall1"><i class="fa fa-play-circle"></i></a>
                        </div>
                        <a href="#" class="btn-order">Join VIP Clients</a>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END PROMO VIDEO  -->


    <!-- START TESTIMONIAL -->
    <section id="testimonial" class="section-padding bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h3>client Testimonial</h3>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                    </div>
                </div>
                <!-- end col -->
                <div class="testimonial-slider owl-carousel owl-theme">
                    <div class="testimonial-slider-item">
                        <div class="single-testimonial">
                            <div class="testimonial-box">
                                <p><i class="icofont icofont-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                            <div class="testimonial-box-info">
                                <div class="testimonial-box-info-image">
                                    <img class="rounded-circle img-fluid" src="assets/img/bg/person1.jpg" alt="">
                                </div>
                                <div class="testimonial-box-info-text">
                                    <h4>Mark Henry</h4>
                                    <p>Crypto Consultant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="testimonial-slider-item">
                        <div class="single-testimonial">
                            <div class="testimonial-box">
                                <p><i class="icofont icofont-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                            <div class="testimonial-box-info">
                                <div class="testimonial-box-info-image">
                                    <img class="rounded-circle img-fluid" src="assets/img/bg/person2.jpg" alt="">
                                </div>
                                <div class="testimonial-box-info-text">
                                    <h4>Harle Willims</h4>
                                    <p>Crypto Advisor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="testimonial-slider-item">
                        <div class="single-testimonial">
                            <div class="testimonial-box">
                                <p><i class="icofont icofont-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                            <div class="testimonial-box-info">
                                <div class="testimonial-box-info-image">
                                    <img class="rounded-circle img-fluid" src="assets/img/bg/person3.jpg" alt="">
                                </div>
                                <div class="testimonial-box-info-text">
                                    <h4>Steven Toki</h4>
                                    <p>Crypto Consultant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="testimonial-slider-item">
                        <div class="single-testimonial">
                            <div class="testimonial-box">
                                <p><i class="icofont icofont-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                            <div class="testimonial-box-info">
                                <div class="testimonial-box-info-image">
                                    <img class="rounded-circle img-fluid" src="assets/img/bg/person4.jpg" alt="">
                                </div>
                                <div class="testimonial-box-info-text">
                                    <h4>Grant Elli</h4>
                                    <p>Crypto Advisor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END TESTIMONIAL -->

    <!-- START MARKET SHOW -->
    <section id="blog" class="section-padding d-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h3>Latest Crypto News</h3>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                    </div>
                </div>
                <!-- end col -->
                <div class="event-slider owl-carousel owl-theme">
                    <div class="event-slider-item">
                        <div class="single-event-show-item">
                            <div class="single-event-show">
                                <div class="single-event-show-img" data-background="assets/img/blog/1.jpg">
                                </div>
                                <div class="event-term-list"><a href="#">Bitcoin Investment</a>
                                </div>
                            </div>
                            <div class="content-entry">
                                <a href="#">
                                    <h4 class="title">The Future of bitcoin Investments</h4>
                                </a>
                                <div class="event-start-time">
                                    <p>
                                        <span><i class="fa fa-user-o"></i> Admin</span>
                                        <span><i class="fa fa-clock-o"></i>15 Jan</span>
                                        <span><i class="fa fa-comment-o"></i>17 Comments</span>
                                    </p>
                                </div>
                                <p class="blog-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, cupiditate, rerum. Porro fuga laudantium tempore! Illum modi natus, reiciendis? Saepe quos id sunt. Iste officiis facilis, velit facere culpa iusto.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="event-slider-item">
                        <div class="single-event-show-item">
                            <div class="single-event-show">
                                <div class="single-event-show-img" data-background="assets/img/blog/2.jpg">
                                </div>
                                <div class="event-term-list"><a href="#">Bitcoin Mining</a>
                                </div>
                            </div>
                            <div class="content-entry">
                                <a href="#">
                                    <h4 class="title">Why I need to choose Noble Token</h4>
                                </a>
                                <div class="event-start-time">
                                    <p>
                                        <span><i class="fa fa-user-o"></i> Admin</span>
                                        <span><i class="fa fa-clock-o"></i>15 Jan</span>
                                        <span><i class="fa fa-comment-o"></i>17 Comments</span>
                                    </p>
                                </div>
                                <p class="blog-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, cupiditate, rerum. Porro fuga laudantium tempore! Illum modi natus, reiciendis? Saepe quos id sunt. Iste officiis facilis, velit facere culpa iusto.</p>

                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="event-slider-item">
                        <div class="single-event-show-item">
                            <div class="single-event-show">
                                <div class="single-event-show-img" data-background="assets/img/blog/3.jpg">
                                </div>
                                <div class="event-term-list"><a href="#">Eruthum Exchange</a>
                                </div>
                            </div>
                            <div class="content-entry">
                                <a href="#">
                                    <h4 class="title">Benefits of getting Cryptocurrency</h4>
                                </a>
                                <div class="event-start-time">
                                    <p>
                                        <span><i class="fa fa-user-o"></i> Admin</span>
                                        <span><i class="fa fa-clock-o"></i>15 Jan</span>
                                        <span><i class="fa fa-comment-o"></i>17 Comments</span>
                                    </p>
                                </div>
                                <p class="blog-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, cupiditate, rerum. Porro fuga laudantium tempore! Illum modi natus, reiciendis? Saepe quos id sunt. Iste officiis facilis, velit facere culpa iusto.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="event-slider-item">
                        <div class="single-event-show-item">
                            <div class="single-event-show">
                                <div class="single-event-show-img" data-background="assets/img/blog/4.jpg">
                                </div>
                                <div class="event-term-list"><a href="#">Exchange Rate</a>
                                </div>
                            </div>
                            <div class="content-entry">
                                <a href="#">
                                    <h4 class="title">Cryptocurrencies new Prices</h4>
                                </a>
                                <div class="event-start-time">
                                    <p>
                                        <span><i class="fa fa-user-o"></i> Admin</span>
                                        <span><i class="fa fa-clock-o"></i>15 Jan</span>
                                        <span><i class="fa fa-comment-o"></i>17 Comments</span>
                                    </p>
                                </div>
                                <p class="blog-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, cupiditate, rerum. Porro fuga laudantium tempore! Illum modi natus, reiciendis? Saepe quos id sunt. Iste officiis facilis, velit facere culpa iusto.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END MARKET SHOW -->



    <!-- START SPONSORS SECTION -->
    <div id="sponsors" class="sponsors-section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="sponsors-slider owl-carousel owl-theme">
                        <div class="single-sponsors">
                            <a href="#"><img class="img-fluid" src="assets/img/sponsor/1.png" alt="">
                            </a>
                        </div>
                        <div class="single-sponsors">
                            <a href="#"><img class="img-fluid" src="assets/img/sponsor/2.png" alt="">
                            </a>
                        </div>
                        <div class="single-sponsors">
                            <a href="#"><img class="img-fluid" src="assets/img/sponsor/3.png" alt="">
                            </a>
                        </div>
                        <div class="single-sponsors">
                            <a href="#"><img class="img-fluid" src="assets/img/sponsor/4.png" alt="">
                            </a>
                        </div>
                        <div class="single-sponsors">
                            <a href="#"><img class="img-fluid" src="assets/img/sponsor/5.png" alt="">
                            </a>
                        </div>
                        <div class="single-sponsors">
                            <a href="#"><img class="img-fluid" src="assets/img/sponsor/3.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </div>
    <!-- END SPONSORS SECTION -->


    <!-- START FAQ -->
    <section id="faq" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h3>Ask Question?</h3>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                    </div>
                </div>
                <!-- end col -->

                <div class="row faq-tab">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a href="#" data-target="#faq1" data-toggle="tab" class="nav-link active">WHAT IS ICO? 
                                    <i class='icofont icofont-rounded-right'></i></a>
                            </li>
                            <li class="nav-item"><a href="#" data-target="#faq2" data-toggle="tab" class="nav-link">What problem are you solving?<i class='icofont icofont-rounded-right'></i></a>
                            </li>
                            <li class="nav-item"><a href="#" data-target="#faq3" data-toggle="tab" class="nav-link">How to add tokens to a wallet?<i class='icofont icofont-rounded-right'></i></a>
                            </li>
                            <li class="nav-item"><a href="#" data-target="#faq4" data-toggle="tab" class="nav-link">Any discount available ?<i class='icofont icofont-rounded-right'></i></a>
                            </li>
                            <li class="nav-item"><a href="#" data-target="#faq5" data-toggle="tab" class="nav-link">Can i trade Noble Token?<i class='icofont icofont-rounded-right'></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="tab-content">
                            <div id="faq1" class="tab-pane fade">
                                <h4>Lorem ipsum dolor sit amet</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <hr>

                            </div>
                            <div id="faq2" class="tab-pane fade">
                                <h4>Lorem ipsum dolor sit amet</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <ul class="list-group">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Morbi leo risus</li>
                                </ul>
                            </div>
                            <div id="faq3" class="tab-pane fade active show">
                                <h4>Lorem ipsum dolor sit amet</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <hr>
                            </div>
                            <div id="faq4" class="tab-pane fade">
                                <h4>Lorem ipsum dolor sit amet</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <hr>
                                <h4>Lorem ipsum dolor sit amet</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                            </div>
                            <div id="faq5" class="tab-pane fade">
                                <h4>Lorem ipsum dolor sit amet</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <ul class="list-group">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Morbi leo risus</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END FAQ -->

    <!-- START CONTACT -->
    <section id="contact" class="section-padding bg-gray d-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h3>Contact us</h3>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <!-- end col -->
                <div class="mx-auto col-lg-8">
                    <div class="contact">
                        <form id="contact-form" class="form" name="enq" method="POST" action="#">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" id="first-name" placeholder="First Name" required="required">
                                    <span class="input_bar"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="lname" class="form-control" id="last-name" placeholder="Last Name" required="required">
                                    <span class="input_bar"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="pnumber" class="form-control" id="phone-number" placeholder="Phone Number" required="required">
                                    <span class="input_bar"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" required="required">
                                    <span class="input_bar"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea rows="6" name="message" class="form-control" id="description" placeholder="Your Message Here ..." required="required"></textarea>
                                    <span class="input_bar"></span>
                                </div>
                                <div class="form-group col-md-12 mb0 text-center">
                                    <div class="actions">
                                        <input type="submit" value="Send Message" name="submit" id="submitButton" class="btn btn-lg btn-contact-bg" title="Click here to submit your message!" />

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END COL -->
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END CONTACT -->

    <!-- ======================================= 
    ==Start footer section==  
    =======================================-->
    <footer class="main-footer footer-style-two text-center">
        <!--Widgets Section-->
        <div class="widgets-section padding-top-small padding-bottom-small">
            <div class="container">

                <div class="row clearfix">
                    <!--Footer Column-->
                    <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-widget about-widget">
                            <h3 class="has-line-center">About Us</h3>
                            <div class="widget-content">
                                <div class="text">At the end of the day, going forward, a new normal that has evolved generation X is on the runway heading towards a streamlined cloud solution. </div>
                                <ul class="social-links">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Footer Column-->

                    <!--Footer Column-->
                    <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-widget contact-widget">
                            <h3 class="has-line-center">Contact Us</h3>
                            <div class="widget-content">
                                <ul class="contact-info">
                                    <li>
                                        <div class="icon"><img src="assets/img/elements/support.png" alt="icon"></div>
                                    </li>
                                    <li>10, Mc Donald Avenue, Sunset Park, Newyork</li>
                                    <li>+99 999 9999</li>
                                    <li>info@yourdomain.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Footer Column-->

                    <!--Footer Column-->
                    <div class="footer-column col-md-4 col-sm-12 col-xs-12">
                        <div class="footer-widget newsletter-widget">
                            <h3 class="has-line-center">Newsletter</h3>
                            <div class="widget-content">
                                <div class="text">Stay Updated with our latest news. We promise not to spam</div>
                                <div class="newsletter-form">
                                    <form method="post">
                                        <div class="form-group">
                                            <input type="email" name="field-name" value="" placeholder="Your Email" required="">
                                            <button type="submit" class="send-btn"><span class="fa fa-paper-plane-o"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Footer Column-->

                </div>
            </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="copyright-text">Copyright  All Rights Reserved</div>
            </div>
        </div>
    </footer>
    <!-- ======================================= 
    ==End footer section==  
    =======================================-->


    <!-- Latest jQuery -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- popper js -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- cd-headline js -->
    <script src="assets/js/cd-headline.js"></script>
    <!-- jQuery Timer -->
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- HighCharts -->
    <script src="assets/js/highcharts.js"></script>
    <script src="assets/js/create-highcarts.js"></script>
    <!-- venobox js -->
    <script src="assets/js/venobox.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- marquee -->
    <script src="assets/js/jquery.marquee.min.js"></script>
    <script src="assets/js/jquery.pause.min.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>

    <!-- WOW - Reveal Animations When You Scroll -->
    <script src="assets/js/wow.min.js"></script>
    <!-- scrolltopcontrol js -->
    <script src="assets/js/scrolltopcontrol.js"></script>
    <!-- form-contact js -->
    <script src="assets/js/form-contact.js"></script>

    <script src="assets/js/scripts.js"></script>
</body>

</html>